 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.cabecalho {
  display: flex;
  width: 100%;
}

footer {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2eadcd;
  color: #ffffff;
  box-sizing: border-box;
}

.btn {
  background-color: #2eadcd;
  color:#ffffff;
}

.bgimg {
  z-index: -1;
  max-width: 1902px;
  position: absolute;
}


.txt-img {
  max-width: 32px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-minhaconta {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 400px;
  transition: all 0.3s ease-out;
  margin-top: 170px;
}

.card-text {
  padding: 5px;
}

.topico {
  padding: 50px;
}
